/* CHAT STYLES */
* {
    font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    letter-spacing: 0.5px;
  }
  
  .ce-chat-list {
    background-color: rgb(224, 222, 222) !important;
    overflow:  hidden !important;
  }
  
  .ce-chats-container {
    background-color: rgb(224, 222, 222) !important;
  }
  
  .ce-active-chat-card {
    /* background-color: #29282d !important; */
    background-color: rgb(130, 128, 128) !important;
    /* border: 1px solid #cabcdc !important; */
    color: rgb(255, 255, 255) !important;
    border-radius: 0px !important;
  }
  
  .ce-chat-subtitle-text {
    /* color: #707272 !important; */
    color: #383939 !important;
  }
  
  .ce-chat-form-container {
    padding-bottom: 20px !important;
  }
  
  .ce-text-input {
    border-radius: 5px !important;
    border: 1px solid rgb(130, 128, 128) !important;
    margin-bottom: 2px;
  }
  
  .ce-primary-button {
    border-radius: 2px !important;
    background-color: rgb(215, 213, 213) !important;
    color: rgb(39, 38, 38) !important;
    position: relative;
    bottom: 1px;
  }
  
  .ce-danger-button {
    background-color: white !important;
    border-radius: 22px !important;
  }
  
  .ce-settings {
    /* background-color: rgb(240, 240, 240) !important; */
    background-color: rgb(240, 240, 240) !important;
  }
  
  .ce-autocomplete-input {
    border-radius: 6px !important;
    border: 1px solid #3b2a50 !important;
  }
  
  .ce-autocomplete-options {
    border-radius: 6px !important;
    border: 1px solid #3b2a50 !important;
    background-color: white !important;
  }
  
  .ce-chat-settings-container {
    padding-top: 12px !important;
  }
  
  /* .ce-chat-avatars-row {
    display: none !important;
  } */
  
  /* CUSTOM FEED */
  
  .chat-feed {
    height: 100%;
    width: 100%;
    overflow: scroll;
    /* background-color: rgb(240, 240, 240); */
  }
  
  .chat-title-container {
    /* width: calc(100% - 36px); */
    width: 100%;
    padding: 18px;
    margin-left: 10px;
    /* text-align: center; */
  }
  
  .chat-title {
    color: #549ba0;
    font-weight: 700;
    font-size: 20px;
  }
  
  .chat-subtitle {
    color: rgb(228, 226, 226);
    font-weight: 600;
    font-size: 12px;
    padding-top: 4px;
    /* display: none; */
  }
  
  .message-row {
    float: left;
    width: 100%;
    display: flex;
    margin-left: 18px;
  }
  
  .message-block {
    width: 100%;
    display: inline-block;
  }
  
  .message-avatar {
    width: 38px;
    height: 38px;
    border-radius: 22px;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    margin-right: 5px;
  }
  
  .message {
    padding: 6px 9px;
    font-size: 13px;
    border-radius: 5px;
    max-width: 65%;
    margin-top: .3rem;
  }
  
  .message-image {
    margin-right: 18px;
    object-fit: cover;
    border-radius: 6px;
    /* height: 10vw; */
    /* width: 8vw; */
    max-height: 120px;
    max-width: 160px;
    min-height: 90px;
    min-width: 40px;
    border: 1px rgb(228, 228, 228) solid;
  }
  
  .read-receipts {
    position: relative;
    bottom: 6px;
  }
  
  .read-receipt {
    width: 15px;
    height: 15px;
    border-radius: 13px;
    margin: 3.5px 1.6px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px;
  }
  
  .message-form-container {
    position: absolute;
    bottom: 0px;
    width: calc(102% - 36px);
    padding: 18px;
    background-color: rgb(240, 240, 240);
  }
  
  .message-form {
    overflow: hidden;
    border-radius: 3px;
    /* border: 1px solid rgb(160, 158, 158); 
    background-color: white;*/
  }
  
  .message-input {
    height: 40px;
    width: calc(101% - 118px);
    background-color: white;
    border: 1px solid rgb(160, 158, 158);
    border-radius: 3px;
    padding: 5px 10px;
    outline: none;
    font-size: 15px;
  }
  
  .plus-button {
    cursor: pointer;
  }

  .plus-icon {
    top: .5px;
    position: relative;
    font-size: 14px;
    padding-left: 15px;
    color: rgb(26, 25, 28) !important;
  }
  
  .send-button {
    height: 42px;
    /* background-color: white; 
    border: 1px solid white; */
    border: none;
    cursor: pointer;
  }
  
  .send-icon {
    top: .5px;
    position: relative;
    /* transform: rotate(-90deg); */
    background-color: rgb(160, 158, 158);
    color: rgb(255, 255, 255) !important;
    border-radius: 30px;
    padding: .8rem 1.2rem;
    font-size: 14px;
    font-weight: bolder !important;
    margin-right: -6rem;
  }
  
  
  /* FORM STYLES */
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62,5%;
  }
  
  .wrapper {
    height: 100vh;
    width: 100%;
    background: rgb(99, 95, 106);
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  
  .input {
    color: #333;
    font-size: 1rem;
    margin: .5rem auto 0 auto;
    padding: .6rem 2rem .6rem 1.3rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    outline: none;
    margin-bottom: 15px;
  }
  
  .form {
    width: 400px;
    background-color: #5c575f;
    padding: 2.7rem 1.5rem 1.5rem 1.5rem;
    border-radius: 6px;
    border: 1px solid rgb(110, 108, 108);
    /* margin: 5rem 0 0 46rem; */
  }
  
  .title {
    text-align: center; 
    color: white;
    /* padding: 11rem 0 0 0; */
    width: 100%; 
    font-size: 2.3em;
  }

  .label{
    margin-left: 1.8rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(24, 20, 27);
  }
  
  .button {
    border-radius: 4px;
    border: none;
    background-color: rgb(35, 30, 39);
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 15px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 9px 5px 5px 5px;
    width: 90%;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .button:hover span {
    padding-right: 25px;
  }
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  .error {
    color:rgb(212, 202, 217);
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
  }